<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * POPPER DEMO! :) * * * * * * * * * * * -->
<!-- * * * * * * * * * cloned from popper.js.org * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="content"
     role="main">
    <div class="pop-top-section">
        <img class="pop-popper-logo"
             src="assets/images/ngx-tour-wizard-logo.svg"
             alt="NGX-TOUR-WIZARD"/>
        <img class="pop-angular-logo"
             alt="Angular Logo"
             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        />
        <h2 class="pop-lucky-font pop-color-primary">THE WIZARD TO MAKE FANTASTIC INTRO TOURS</h2>
        <div>
            <a href="https://github.com/tonysamperi/ngx-tour-wizard"
               rel="nofollow noreferrer"
               class="pop-button-white">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                </svg>
                Star on GitHub
            </a>
            <a (click)="startTour()"
               class="pop-button-white">
                <svg width="24"
                     height="24"
                     aria-hidden="true"
                     data-prefix="far"
                     data-icon="play"
                     role="img"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 448 512">
                    <path fill="currentColor"
                          d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6zM48 453.5v-395c0-4.6 5.1-7.5 9.1-5.2l334.2 197.5c3.9 2.3 3.9 8 0 10.3L57.1 458.7c-4 2.3-9.1-.6-9.1-5.2z"></path>
                </svg>
                Take a tour
            </a>
        </div>
    </div>
    <div class="pop-install-section">
        <h3 class="pop-title-light">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 class="css-mc2z91">
                <polyline points="20 12 20 22 4 22 4 12"></polyline>
                <rect x="2"
                      y="7"
                      width="20"
                      height="5"></rect>
                <line x1="12"
                      y1="22"
                      x2="12"
                      y2="7"></line>
                <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path>
                <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
            </svg>
            Install NGX Tour Wizard
        </h3>
        <div>
            <div class="terminal">
                <ul>
                    <li>npm i ngx-tour-wizard</li>
                </ul>
                <ul pop-messages>
                    <li *ngFor="let m of messages"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pop-demo">
        <article>
            <div class="pop-text-center">
                <p>I'm an anchor</p>
                <img alt="Popcorn box"
                     src="assets/images/popcorn-box.svg"
                     [tourWizardAnchor]="firstAnchor"
                     class="pop-popcorn-box">
            </div>
            <div class="tour-wizard-spacer"></div>
            <div class="pop-d-flex pop-flex-justify-center">
                <div class="pop-box pop-text-center">
                    <span tourWizardAnchor="FOO_2">You can have an anchor here, but set the target over there: useful to target hidden elements (or not).</span>
                </div>
                <div class="pop-box pop-text-center tour-wizard-my-target">
                    <p>My target for step 2</p>
                    <p>Step 3 will appear with a 2 seconds delay, useful to handle async calls during a tour, for example.</p>
                </div>
            </div>
            <div class="tour-wizard-spacer"></div>
            <div class="pop-d-flex pop-flex-justify-center">
                <div class="pop-box pop-text-center">
                    <span tourWizardAnchor="FOO_3">
                        You can also delay the appearance of the next step: pass a <strong>Subject</strong> into the <strong>subjectForNext</strong> or <strong>subjectForPrev</strong> property of the step config.
                        <br/>
                        The step will be shown after the Subject is triggered!
                    </span>
                </div>
                <div class="pop-box pop-text-center">
                    <span tourWizardAnchor="FOO_4">
                        You can customize the appearance of any single popper, by using the <strong>style</strong> property in the step config!
                    </span>
                </div>
            </div>

        </article>
    </div>
    <div class="pop-generic-section">
        <div class="pop-text-center">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="50"
                 height="50"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="#ffe69d"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M19 16.9A5 5 0 0 0 18 7h-1.26a8 8 0 1 0-11.62 9"></path>
                <polyline points="13 11 9 17 15 17 11 23"></polyline>
            </svg>
            <h3 class="pop-title-light">Features</h3>
        </div>
        <ul class="pop-list">
            <li>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Uses <strong>Popper 2</strong> which has been proven to be a very effective and performing library for
                tooltips and popovers
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Optional <strong>Keyboard</strong> navigation: use the <strong>arrows</strong> to move between steps
                and the
                <strong>ESC</strong> key to exit the tour!
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                <strong>Automatic scroll</strong> to the step reference
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                    <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Accepts <strong>HTML</strong> and can even be highly connected with your components, by passing a
                <strong>component ref</strong> in the <em>customPopperContent</em> property.
            </li>
        </ul>
    </div>
    <div class="pop-generic-section">
        <div class="pop-text-center">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="50"
                 height="50"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="#ffe69d"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
            </svg>
            <h3 class="pop-title-light">Free and open-source</h3>
        </div>
    </div>
    <div class="pop-generic-section">
        <div class="pop-text-center">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="50"
                 height="50"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="#ffe69d"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
            <h3 class="pop-title-light">Ready to start?</h3>
            <p>Start reading <a class="pop-link-yellow"
                                href="https://github.com/tonysamperi/ngx-tour-wizard">NgxTourWizard's
                documentation</a>!</p>
        </div>
    </div>
</div>
<footer>
    <p>Created with <span [title]="buildRef">♥</span> by <a class="pop-link-yellow"
                            href="https://tonysamperi.github.io"
                            target="_blank">Tony
        Samperi</a>
    </p>
    <p>© {{year}} MIT License</p>
</footer>
