<div class="main-wrap">

    <div class="tour-wizard-test">

        <h4 style="margin-top: 1em;" class="">
            <span class="whats-new-circle whats-new-item-title-circle"></span>
            Hello, bonjour, こんにちは!
        </h4>

        <span class="tour-wizard-button tour-wizard-text-gloria"
              (click)="startTour()">
            Start tour
        </span>

        <hr />

        <span class="tour-wizard-text-gloria" [tourWizardAnchor]="firstAnchor">MY ANCHOR 1</span>

        <div class="tour-wizard-spacer"></div>

        <span class="tour-wizard-button" (click)="someAction($event)">SOME BUTTON HERE</span>

        <div class="tour-wizard-spacer"></div>

        <span class="tour-wizard-text-gloria" tourWizardAnchor="FOO_2">MY ANCHOR 2, but target is there</span>

        <span class="tour-wizard-text-gloria tour-wizard-my-target">MY TARGET 2</span>

        <div class="tour-wizard-spacer"></div>

        <span class="tour-wizard-text-gloria" tourWizardAnchor="FOO_3">MY ANCHOR 3</span>

        <div class="tour-wizard-spacer"></div>

        <span class="tour-wizard-text-gloria" tourWizardAnchor="FOO_4">MY ANCHOR 4</span>

    </div>


</div>
